[2014-06-05 03:41] mtchavez opened #6 "Async/Poll Ruby Install Task"
I'm having issues with the initial ruby install timing out. Ansible has [asynchronous actions and polling](http://docs.ansible.com/playbooks_async.html) for tasks that may take a little longer than normal. I propose the install task gets an async of some arbitrary amount of time, say 10-15 minutes? Thoughts?

[2014-07-18 17:25] andradei opened #7 "Task: chown permission to .rbenv directory"
_item[0]_ seems to be undefined for this task and is throwing me an error in the _when_ statement:

`when: (not "system" == "{{ rbenv.env }}") and (item[0].rc != 0)`

If I remove the item comparison, the new error complains about another value of _item_:

_fatal: [default] => One or more undefined variables: 'None' has no attribute 'name'_

which pertains to line:

`shell: "chown -R {{ item[1].nam

[2014-07-18 17:53] #7 closed, assigned to nobody

[2014-08-30 15:39] pmackay opened #9 "Increment version for users -> rbenv_users change?"
I've just spent a while figuring out why one of the steps from this role wasnt working, and I think its because `users` was changed to `rbenv_users` in https://github.com/zzet/ansible-rbenv-role/commit/5e76c74a562c71f0628752fea884ec12b96dad81. Should this have had a version increment?

Also the README shows `rbenv_users` in the defaults section and `users` in the Description and Example sections.

[2014-09-29 13:33] skv-headless opened #12 "Bundler doesn't installed"
There is bundler in default_gems, but I have got error "The program 'bundle' is currently not installed".

[2014-11-10 23:37] khelben opened #16 "install gems when rbenv is installed system wide"
When I deploy rbenv to be installed system-wide, I cannot install any gems on the installed host.

Do I need to install the gems with `sudo gem install ...`?

[2015-01-02 11:36] pmackay opened #19 "Remove {{ rbenv.ruby_version }} from names"
According to https://github.com/ansible/ansible/issues/3103 its correct behaviour that they dont get printed, and I dont see the values being filled in when I'm using this role. So it gets a bit confusing.

[2015-01-06 11:05] jakubpawlowicz commented on #12
I used https://github.com/viatcheslavmogilevsky/rbenv-default-gems/commit/438e585f880bc66f9dc98f2447322caa7749cd64 and it did the trick - @viatcheslavmogilevsky any plans to send a PR upstream?

[2015-01-08 10:40] viatcheslavmogilevsky commented on #12
@jakubpawlowicz  for now I haven't plans for this

[2015-01-14 22:02] leonelgalan opened #24 "When `env: user` error on all "... for selected users" tasks."
In role's dependencies:
[code]

Output:
[code]

SSHing into the machine and doing `sudo su deploy` works as expected.

[2015-01-14 22:08] zzet commented on #24
@leonelgalan can you try this:

[code]
?

(copy-paste from readme)

[2015-01-14 22:18] leonelgalan commented on #24
I'm sorry for waisting your time like this, of course I just had to read the README. :blush:

Wouldn't be easier to just have the user name and get his home from something like `$HOME`?

[2015-01-14 22:23] zzet commented on #24
@leonelgalan You are right. But with old releases of role this was impossible. I'll check your suggestion with current (upstream) code later.

[2015-01-14 22:24] zzet commented on #24
@leonelgalan I will not close the issue until check your guess.

[2015-01-14 22:32] leonelgalan commented on #24
I'm gonna try that too, if I have something I'll make sure I push it upstream.

[2015-01-14 22:35] zzet commented on #24
if this will work with install for multiple users - I have nothing against simplify the interface (ie, in this case - the configuration file)

[2015-01-15 18:46] zzet commented on #24
Close with https://github.com/zzet/ansible-rbenv-role/pull/25

[2015-01-15 18:46] #24 closed

[2015-01-21 07:37] vchervanev commented on #16
@zzet, there is an interesting problem (ubuntu 14.04.1) - when Ansible(1.8.2) runs a SUDO command scripts at profile.d are ignored. As a result env is not prepared and system version of `gem` is run.

[2015-01-29 21:50] leonelgalan opened #27 "Purpose of handler"
What's the purpose of `rehash rbenv`? Rehash is called manually from [tasks/main.yml:151](https://github.com/zzet/ansible-rbenv-role/blob/e10d6f8ec5177c1800b9e6753458a667bf222916/tasks/main.yml#L151) or [tasks/main.yml:182](https://github.com/zzet/ansible-rbenv-role/blob/e10d6f8ec5177c1800b9e6753458a667bf222916/tasks/main.yml#L182)

It it notifies the handler instead, we could install gems (`env:

[2015-02-14 20:56] DanyHunter opened #29 "Error when running"
I am getting the following error when running zzet.rbenv:

`TASK: [zzet.rbenv | homebrew_tap tap=homebrew/dupes state=present] ************`
`fatal: [default] => error while evaluating conditional: rbenv.ruby_version <= 1.9.3-p0`

It seems that I cannot override the `ruby_version` variable as well. Maybe I'm doing something wrong.

[2015-02-17 06:20] xenocid commented on #29
Exactly the same thing here:
TASK: [zzet.rbenv | homebrew_tap tap=homebrew/dupes state=present] ************
fatal: [localhost] => error while evaluating conditional: rbenv.ruby_version <= 1.9.3-p0

[2015-02-17 09:38] zzet commented on #29
Hi @DanyHunter @xenocid.

You do not have enough opportunities to override the only version of ruby?

What about `error while evaluating conditional` - which ansible version you are use?

[2015-02-17 15:52] DanyHunter commented on #29
1.8.2

I define `2.2.0` as the ruby_version but it still tries to install 1.9.3-p0, even though by default it should install a higher version right?

[2015-02-17 15:54] zzet commented on #29
@DanyHunter I'll fix bug with ruby_version tomorrow.

[2015-02-18 10:18] zzet commented on #29
@DanyHunter @xenocid this commit https://github.com/zzet/ansible-rbenv-role/commit/d20505cd0f4202d137468b43e303dd069f6b7031 fix error for me (ansible 1.8.3)

[2015-02-19 16:26] BrandonMathis opened #32 "Ruby version 2.2.0 failing on checkout"
When I run the rbenv role on my box, which has rbenv already installed by this galaxy role, I get this error.

[code]

I think this is because the latest version of ruby-build is not being cloned down.

[2015-02-19 16:37] zzet commented on #32
@BrandonMathis Can you provide more information?

https://travis-ci.org/zzet/ansible-rbenv-role#L484-L488

[2015-02-21 12:04] #29 closed

[2015-02-24 12:02] zzet commented on #32
@BrandonMathis all is well?

[2015-02-24 12:02] zzet commented on #27
@leonelgalan this issue is actual now?

[2015-02-25 18:25] leonelgalan commented on #32
@BrandonMathis the 2.2.0 is the problem in here. This is ruby-build version, not ruby's so it should look more like: `v20150130`. Cross check your `rbenv_plugins` variable against the _defaults/main.yml_

https://github.com/zzet/ansible-rbenv-role/blob/master/defaults/main.yml#L11

[2015-02-25 18:27] leonelgalan commented on #27
Yeah, but I discovered that handlers are only "triggered" at the end of the playbook's run. So if we install bundler, we need to manually `rbenv rehash` in order to have bundle available before the playbook finishes.

I wish there was a handler-like task that could be triggered at the end of the recipe's run or manually for DRYness. So it's might be a non-issue.

[2015-02-25 18:32] zzet commented on #27
I have nothing against to run `rehash` immediately after installation `bundler`. I think it is a true way.

[2015-02-25 18:39] zzet commented on #27
If you think that should be divided `rbenv global {{rbenv.ruby_version}}` & `rbenv renash` - I think that this can be done. Essentially it will not change, but it will be obvious.

[2015-03-02 12:58] thom-nic opened #34 "[feature request] ability to not install a system ruby version?"
I want to install rbenv with this role but then not install a ruby version until later in my build when my app sources are checked out.  There's a `.ruby-version` file which defines the proper ruby version (at which point I can just add a `shell: bash -lc rbenv install` line to install the correct ruby version without specifying it anywhere in my ansible vars.  Does that make sense?  Could it be p

[2015-03-02 13:16] zzet commented on #34
@thom-nic can you show content of your `.ruby-version` file?

[2015-03-02 13:21] thom-nic commented on #34
It's just a single line:
[code]

Rbenv already understands how to process it, it's sort of a generic `.rbenv-version` file.  I just go to the root directory of your project and do `rbenv install`.  rbenv also knows which ruby version to activate when running project executables (`ruby`, `rake`) by looking at the same file.

[2015-03-02 13:24] zzet commented on #34
@thom-nic do you need to override ruby version from default 2.2.0 to your 2.1.3?

[2015-03-02 13:26] zzet commented on #34
As can you see in Readme - you can setup any ruby with this role.
[code]

as example

[2015-03-02 13:31] thom-nic commented on #34
Yeah I understand I can set it up that way but I still have to specify the ruby version there *in addition* to what's in my project .ruby-version.  rbenv's `ruby` shim will throw an error if what's in .ruby-version is different from what's defined in the ansible vars.  Trying to keep it DRY and reduce the chance for errors.

Simply not installing a system ruby until the app is installed would fix

[2015-03-04 15:33] BrandonMathis commented on #32
Sorry @zzet, I actually found the issues and it was due to a change that one of our devs made to our playbook.

[2015-03-04 15:33] #32 closed

[2015-03-09 22:07] blackjid opened #35 "it is posible to install multiple ruby versions??"
something like this

[code]

[2015-03-09 22:11] zzet commented on #35
Hi @blackjid! At this moment no. Until April, I will not have time to add this functionality.

[2015-03-09 22:17] blackjid commented on #35
I'd be happy to make a PR...
could you please point me in the right direction???
what should be the definitions??

[code]

something like that?

[2015-03-09 22:40] zzet commented on #35
If we talk about users and the version of Ruby - then we have a matrix:
[code]

for deploy and other user will installed all ruby versions from list. I think this is not correct.
It is better for each user to specify which version to put:

like as
[code]
or as hash
[code]

I need to take a break and think about how best to do this. We should bear in mind that this is a rare case and role overload

[2015-03-09 22:42] zzet commented on #35
@blackjid If you have any thoughts on this issue - I will be glad to consider them

[2015-03-10 19:56] blackjid commented on #16
@vchervanev did you find the solution to this?

[2015-03-11 05:12] vchervanev commented on #16
@blackjid I'd say Yes. In my case the right way is to use a 3rd party package (e.g. bright-box) since it isn't  a dev machine and there is no need to switch between versions. However, if you need RBENV installed - there is a workaround. My initial conclusion was wrong - SUDO is not the reason, but a non-login shell session is.

I moved rbenv's init code to ~/.bashrc and it helped.

[2015-03-11 08:58] zzet commented on #16
@vchervanev

Like as per user installation? :)

[2015-03-11 09:00] vchervanev commented on #16
@zzet exactly! 8-)

[2015-03-11 09:24] zzet commented on #35
Hi @blackjid!

I think this definitions is good (based on default settings):

[code]

What do you think about it?

[2015-03-11 11:39] blackjid commented on #35
I like it,
looks very good, very clear and all the use cases I can think of are there.

[2015-03-11 12:25] zzet commented on #35
@blackjid you are planning to prepare PR?

[2015-03-11 12:44] blackjid commented on #35
mm, here is the thing... I offered to create a PR... i know...  but I ended up creating a role specific for my use case.... why?  I don't need some of the feature of this role, such as **multi-user** installations, but I need other features besides **multiple-rubies** such as **aliases** and **per ruby gem installations**

The thing is that I'd be happy to provide a PR, but i'm not in a hurry now,

[2015-03-11 13:20] zzet commented on #35
What do you mean about **aliases**?

[2015-03-11 13:29] blackjid opened #36 "alias support"
I'd love your opinion on this...

I like to have a symlink in `~/.rbenv/versions/2.1` to `~/.rbenv/versions/2.1.2`
this way I can use the `major.minor` version on my projects `.ruby-version` and leave the patch behind.

So, what I mention on #35 was something like this

[code]

[2015-03-23 01:09] battlemidget opened #37 "conditional fail with ansible_pkg_mgr"
Running with ansible 1.7.2 and 1.8.4 (fails on both) on ubuntu 14.04, vagrant 1.6.3, virtualbox 4.3.10

[code]

My config:

[code]

Am I missing something?

[2015-03-23 01:21] battlemidget commented on #37
Culprit was `gather_facts: False`, removing it or changing it to `True` resolved my issue. Not sure if it is even worth noting in the readme

[2015-03-23 01:21] #37 closed

[2015-03-25 14:46] pablocrivella commented on #35
Hey @blackjid @zzet  i also had to create my own role to support multiple rubies.. https://github.com/pablocrivella/ansible-role-rbenv
My approach is different tho, also i tried to organize tasks on a pretty way :sweat_smile:
Maybe we could merge the bests parts of each role into this one since it's the most used by the community.

[2015-03-25 14:47] zzet commented on #35
Hi @pablocrivella . You can send pull request.

[2015-04-06 05:08] leomao10 opened #38 "Permission denied while install rbenv system wise"
Hi Andrew,
Thanks for the rbenv role, it save me time to setup rbenv in the VMs, however, I ran into a issue when I use the rbenv role. In my playbook, I want to setup a system wise rbenv and have other roles that don't need to run under 'root' user.

At first, I thought I can use 'sudo:yes' like this:

[code]

But I got permission denied and stopped at the 'clone rbenv repo' task when I run the p

[2015-04-06 20:05] zzet commented on #38
Hi @leomao10,
I'll review your issue after April 20.

[2015-04-16 06:29] evserykh commented on #12
The same problem

[2015-04-20 09:25] UnderGreen commented on #35
I can implement this FR on weekend

[2015-04-20 09:26] zzet commented on #35
@UnderGreen it's cool

[2015-04-20 13:44] RuslanHamidullin opened #40 "ruby -v: always display system ruby"
Hey Guys,

I use:
[code]

All works fine, but when I ssh to server after provisioning:
[code]
So, looks like it still uses system ruby
Not sure if' it's bug, just decided to ask.
Maybe someone had same issue?

Some info:

1) I use latest version,
Before provision I did:
[code]
2) in my /home/qae/.bashrc

[code]

3) which ruby
[code]

Thanks :beers:

[2015-04-22 17:08] fabiokr opened #43 "Missing python bindings"
I got this error while trying to use this with CentOS 6.6:

[code]

Adding `libselinux-python` to the yum dependencies fixed it.

[2015-04-28 21:33] zzet commented on #40
@RuslanHamidullin can you try run `rbenv shell 2.1.5` ?

[2015-04-29 09:24] RuslanHamidullin commented on #40
@zzet sorry guys, forgot to post, looks like issue was on my side.
After installing on clean ubuntu - all fine.
Thanks :beers:

[2015-04-29 09:24] #40 closed

[2015-05-08 08:41] zzet commented on #35
Hi @UnderGreen . Do you plan implement this FR?

[2015-07-01 00:45] mtchavez commented on #6
Closing, using a timeout setting fixes this.

[2015-07-01 00:45] #6 closed

[2015-07-05 17:15] Silox opened #45 "postfix is spewing out errors"
[code]

[2015-07-05 17:15] Silox commented on #45
Why should it be doing anything at this point anyway?

[2015-07-05 17:15] Silox commented on #45
Wrong repistory, sorry.

[2015-07-05 17:15] #45 closed

[2015-07-05 21:30] Silox opened #46 "non bash shell support"
Placing the `rbenv init -` script in the `/etc/profile.d` folder (in https://github.com/zzet/ansible-rbenv-role/blob/master/tasks/main.yml#L87) should enable a systemwide installation for all users. This only works with shells using the `/etc/profile.d` folder. For example, [zsh does not rely on this folder](http://askubuntu.com/a/476435/86297), so users using `zsh` end up with unfound commands fo

[2015-07-06 15:39] Silox commented on #12
Experiencing the same problem

[2015-07-06 17:01] Silox commented on #35
:+1:

[2015-08-31 03:58] dmitrym0 opened #47 "Shims aren't loaded for noninteractive shells on ubuntu 12.04"
# Non interactive
[code]

# Interactive

[code]

Any tips on fixing this? Basically anything following `rbenv` role in my playbook that relies on correct ruby version (like the `gem` role) fails.

[2015-10-20 07:23] Paxa commented on #43
Having same error on CentOS 6.5

[2015-11-11 21:55] dankohn opened #49 "rbenv cannot build ruby 2.2.3 with default settings"
The branch of ruby-build specified does not include 2.2.3. The following `playbook.yml` worked for me. It sets ruby-build to use the master branch.
[code]

[2015-11-11 22:12] zzet commented on #49
@dankohn default settings now updated https://github.com/zzet/ansible-rbenv-role/commit/58f6261ead4fdc80abc0db424d60d38d05c83238

[2015-11-11 22:14] zzet commented on #49
Sorry, I miss error with import new role version on Galaxy. Fixed now.

[2015-11-11 22:20] zzet commented on #47
[code]

[2015-11-11 22:27] #9 closed

[2015-11-11 22:28] dmitrym0 commented on #47
Thanks zzet, if I recall any `shell` commands are run non-interactively. Any tips?

[2015-11-11 22:33] zzet commented on #47
@dmitrym0 Sorry, can you explain your question?

[2015-11-11 22:41] dmitrym0 commented on #47
@zzet, I'm trying to provision an environment from an ansible script. Specifically it requires installing ruby 2.2.2 and Phusion Passenger. I have the following statement:

[code]

Unfortunately that will run into an issue because it will try to use system ruby (which happens to be 1.9.3 on ubuntu 12.04) because shims aren't loaded for non-interactive shells.

As a work around, I'm specifying that

[2015-11-18 23:56] mkllnk opened #50 "1.3.0 fails to set ruby version"
The main task `tasks/main.yml` doesn't set the Ruby version. Instead of running `rbenv global {{ rbenv.ruby_version }} && rbenv rehash` it runs the install command a second time.

I will try a newer version. A fix in version 1.3.1 would be nice.

[2015-11-19 08:43] zzet commented on #50
Hi @mkllnk! Can you try 2.1.6?

[2015-11-20 06:20] mkllnk commented on #50
Yes, that worked. We are using 2.1.6 now. I had to change the users variable and apply #51. That was all. Are you planning a 1.3.1 release with a fix or are you declaring the 1.3 release as unsupported? You can add the wontfix label and close the issue then.
Thank you!

[2015-11-20 12:29] zzet commented on #50
@mkllnk I bump version after every fix or feature in role. Support old versions is difficult for me.

[2015-11-20 12:29] #50 closed

[2015-12-22 22:44] lakesare commented on #37
It is worth mentioning in readme, and thank you for mentioning it here.

[2015-12-22 22:48] zzet commented on #37
@lakesare @battlemidget mentioning in readme added

[2015-12-29 20:06] cobyrne09 opened #53 "grep not finding ruby version"
Hey,

So tasks are failing on a grep of the rbenv versions, and can't seem to find 2.2.2, my desired version. Of course '2.2.2' shows up in the version list so this doesn't make much sense. I got these first on a system install, then on a user install:

[code]

also thrown on:

[code]

and

[code]

Thanks for any help!

[2016-01-20 20:23] BrandonMathis opened #56 "2.1.8 not on ansible galaxy"
Hey @zzet, forgive me because I have never published to ansible galaxy before and may not understand their approval process/your versioning process but I see you have a tag for 2.1.8 but that version is not on ansible galaxy.

https://galaxy.ansible.com/detail#/role/102

Is there a reason for that? Should I not try to install the 2.1.8 tag?

[2016-01-20 20:55] zzet commented on #56
@BrandonMathis sorry, role was not imported ![](http://puu.sh/mDeVn/df2d95a239.png). At now all is ok!

[2016-01-20 20:55] #56 closed

[2016-01-25 14:47] akostadinov commented on #47
I am writing here as the other two issues are closed. I see your point in #9240 but the case is that one could setup user shell and only then use `shell` with expected profile configuration. Other users have described use cases involving `rvm` and other tools that can be installed on different places but ultimately are responsible to setup user environment in a way that particular commands are ava

[2016-01-30 09:20] pmackay commented on #19
@zzet would it be helpful if I did a PR for this?

[2016-01-30 09:21] zzet commented on #19
@pmackay yes, of course. Sorry, I am in the last time little busy.

[2016-01-31 11:17] pmackay commented on #19
Closing cos having updated to ansible v2, it seems to now insert the variables!

[2016-01-31 11:17] #19 closed

[2016-02-07 23:38] nakaken0629 commented on #38
I can do it by bellow script.

[code]

Here is my ansible version.

[code]

[2016-02-10 21:20] thom-nic commented on #47
came here from ansible/ansible#4854 - to repeat what I said there, I have to wrap my commands in an additional `bash -lc` like: `shell: bash -lc "gem install passenger"` which will get the environment initialized correctly.  Not pretty, but it works.  I suppose you could also change that to `command: /bin/bash -lc "gem whatever"` if you want to remove one level of "shell inception."

@akostadinov

[2016-02-10 22:01] akostadinov commented on #47
@thom-nic , good point, I didn't state my proposed solution. In fact I can't think of a common use case where shell profile files are better not loaded. And I can't think of such. If machine was setup by ansible and then maintained by ansible, then shell and profile scripts should be pretty much solid. Is it a common use case to run ansible over some random machine that you are not well aware of i

[2016-02-20 14:13] thom-nic commented on #47
I agree, but don't know of a good solution to enable login profile by default. The discussion in the ansible issue I linked above has a couple proposed solutions but none that song require a change to ansible core.

As I commented on that issue, the best solution I've come up with is to use `shell: bash -LC "some command with login env" ` but that's not exactly pretty.

[2016-02-24 10:30] chav02 opened #59 "Parent role default is ignored when this role is put as a dependency."
Due to seemingly unintended behavior in ansible, when "include env vars" in tasks/main.yml is run, the default values set in a role that depends on this one are not yet loaded. Thus rbenv.env will be set to this role's default of 'system', and the vars/system.yml loads and sets rbenv_root.

In the following tasks the defaults from the parent role ARE loaded, but they will not overwrite values set

[2016-02-24 13:33] chav02 commented on #59
this was in ansible 1.9.4.1. in ansible 2.0, parent defaults never override the dependency role's defaults. Still not sure if the behavior is intended, but now I'm no longer sure it's your problem at all.

[2016-02-24 14:11] #59 closed

[2016-03-04 06:45] iangreenleaf commented on #34
:+1: it would be great to have an option to skip installing a Ruby and just set up rbenv instead.

[2016-03-04 06:47] iangreenleaf commented on #47
Not saying this is necessarily the *right* solution, but it's the one I came up with messing with rbenv on my own a while ago, and it's been working fine for me:

[code]

[2016-03-16 15:28] #49 closed

[2016-04-17 15:33] MatthiasWinkelmann commented on #53
This happened to me because I was running with `strategy: debug` which stops at any exception. Note that the task itself expects this and includes `irgnore_errors: yes`. Run it once without debug and it should work thereafter (though I'm not sure if that's the best solution).

[2016-04-21 08:05] jufemaiz commented on #35
Any movement on this?

[2016-07-05 17:54] thom-nic opened #67 "[DEPRECATION WARNING]: Using bare variables is deprecated"
As of Ansible 2.0 or 2.1 I believe...

[code]

[2016-07-31 11:46] tenaz3 commented on #12
The same problem

[2016-08-13 11:49] itsNikolay opened #68 "recurse option requires state to be 'directory'"
**Issue:**
By running a provision command, I get the following exception:
[code]

**Environment:**
Server: Ubuntu 16.10
[code]
[code]

**Solution:**
Create dir `/usr/local/rbenv` on the server manually

[2016-08-13 11:54] #68 closed

[2016-09-20 10:02] unnu commented on #53
@zzet Is there a different way to implement the check without throwing errors? Having red output in ansible always captures my attention.

[2016-09-20 17:57] #53 closed

[2016-10-20 04:06] mkllnk opened #71 "'rbenv_owner' is undefined"
I tried to run the example from the readme file:

[code]

But I get an error:

[code]

It helps to provide the variables `rbenv_owner` and `rbenv_group`. The readme mentions these variables, but I didn't expect to need them for a user installation (not system). Maybe that should be included in the readme and the example? Ideally, they would default to the target user if `rbenv.env: user`.

[2016-10-20 04:33] mkllnk opened #72 "[DEPRECATION WARNING]: always_run is deprecated"
Just came across this warning:

[code]

zzet.rbenv version: 2.2.6

[2016-10-27 11:07] mkllnk opened #73 "[feature request] Support `--keep` option to keep ruby source"
I need to install some gems that need the ruby source code. I get that with `rbenv install -k $VER`. It would be nice to have that option with this role as well.

[2016-11-07 18:25] rtlechow commented on #72
https://github.com/zzet/ansible-rbenv-role/pull/75

[2016-12-22 11:46] zzet commented on #35
done

[2016-12-22 11:46] #35 closed

[2016-12-22 21:29] koenpunt opened #87 "Request: Do not use nested variables"
Now everyone that wants to customise a single option, they have to define the full hash.

With the defaults like:
[code]

Just setting the `default_ruby` requires me to define the full hash, e.g.:

[code]

And now since 3.0.0 the `rubies` properties is added, which requires me to add that to my playbool configuration (or add a version constraint).

There a way to get this working by setting [hash-

[2017-01-10 17:41] #72 closed

[2017-01-10 17:43] #38 closed

[2017-01-18 05:08] sbwoodside opened #89 "Please provide more examples?"
Can you provide some more examples? For example, how do I simply install a specific version of ruby system-wide? I tried this and got an error:

[code]

Result:

TASK [zzet.rbenv : include env vars] *******************************************
fatal: [monitor.medstack.net]: FAILED! => {"failed": true, "msg": "the field 'args' has an invalid value, which appears to include a variable that is undefin

[2017-02-02 05:35] sdejean commented on #89
I think the answer you need is in the example from the README:

[code]

Your error is `The error was: 'dict object' has no attribute 'env'`, meaning that you need to add the `env` property to your dictionary.  You should also specify the `version` property in that dictionary to tell the role which version of `rbenv` to install. Ansible does not merge dictionary values by default, so once you speci

[2017-02-03 03:44] sbwoodside commented on #89
Ahh, I didn't understand that. Thanks. Might be worth including that in the README, unless its obvious to most ansible users.

[2017-03-31 19:38] ghg commented on #89
I don't think this is obvious either. I spent quite a bit of time today trying to figure this out also until I checked this issue. Thanks!

[2017-05-26 05:06] ringe opened #97 "clean up after version change"
I have these variables:

    rbenv:
    env: user
    version: v1.0.0
    ruby_version: 2.3.1

So I want to upgrade to ruby_version: 2.4.1

There maybe should be a task to remove / clean up old ruby versions?

[2017-05-26 07:36] zzet commented on #97
@ringe Thank you for idea.

I'm not sure what necessary to automatically remove the `old` ruby version. If the commune considers it necessary, I do not mind. And welcome for PR.

[2017-05-30 13:50] egr-ext opened #101 "Install rbenv broken since last release"
Hi,
The last release has broken the rbenv install for a user.
The issue seems to come from this block of code, it skips the rbenv install:
[code]

[2017-05-30 13:54] olo-dw opened #102 "Ruby is not installed for select users for some skip reason"
The last version 3.3.0 introduce the breaking change below. The ruby is not installed for select users for some skip reason.

May I suggest to have a look to the conditional  [- item[0].item[0] == item[1]](https://github.com/zzet/ansible-rbenv-role/blob/master/tasks/user_install.yml#L100)

[code]

My playbook:
[code]

My ansible:
[code]

[2017-05-30 14:59] olo-dw commented on #102
I trap the issue with debug.
[code]
So the conditional `- item[0].item[0] == item[1]` should be `- item[0].item == item[1]`

I PR #103

[2017-05-30 16:28] #102 closed

[2017-05-30 16:30] zzet commented on #101
Please, try `3.3.1` version

[2017-05-30 16:31] zzet commented on #102
@olo-dw Thank you. Role updated at galaxy

[2017-05-30 16:32] zzet commented on #97
Released with https://github.com/zzet/ansible-rbenv-role/pull/100

[2017-05-30 16:32] #97 closed

[2017-05-31 09:39] egr-ext commented on #101
I confirm it is fixed

[2017-05-31 09:39] #101 closed

[2017-06-01 16:17] Kroid commented on #12
Same problem

[2017-06-15 00:56] mashan commented on #12
@Kroid Role variable is not

[code]

but

[code]
rbenv-default-gems v1.0.0 doesn't seems to be imported https://github.com/rbenv/rbenv-default-gems/commit/ead67889c91c53ad967f85f5a89d986fdb98f6fb.

[2017-07-17 03:18] CodeGnome opened #105 "Slow tasks for plugins"
The plugin tasks are quite slow, probably because they are running whether or not the plugins are currently at the correct committish. This section:

    TASK [zzet.rbenv : install plugins for selected users] *************************
    ok: [default] => (item=[u'vagrant', {u'repo': u'https://github.com/rbenv/rbenv-vars.git', u'version': u'v1.2.0', u'name': u'rbenv-vars'}])
    ok: [default] => (

[2017-07-25 08:11] olo-dw opened #106 "Multiuser install triggers a "sudo: password is required""
My context is to install RBENV for the well-known user Jenkins. This account is not a sudoer. And during the run launch with the sudoer account vagrant, the `become` triggers an error message "sudo: a password is required".

Maybe I miss the point how to implement the role (see below).

My playbook:
[code]

[code]

[2017-07-26 09:30] olo-dw commented on #106
I beg your pardon, the trouble is on my side.

In my box the vagrant account is sudoer with these specifications:
[code]
I had to correct like this:
[code]

[2017-07-26 09:30] #106 closed

[2017-08-06 01:36] CodeGnome commented on #16
When doing a system install, the module really ought to be doing the following:

1. ensuring the existence of rbenv group using
1. setting /usr/local/rbenv to be owned by the rbenv_group user
1. ensuring directories and files have the proper group ownership, e.g.:

       sudo find /usr/local/rbenv -type d -exec chmod g+ws {} +
       sudo find /usr/local/rbenv -type f -exec chmod g+w {} +

1. ens

[2017-08-08 15:45] tatwell opened #109 "No package matching 'libyaml-devel' found available, installed or updated"
I'm running this role against Red Hat 7 and seeing this error:

[code]

[2017-08-08 15:46] tatwell commented on #109
Adding the following task (as sudo user) seems to get me past it:

    shell: yum-config-manager --enable rhel-7-server-optional-rpms
    become: yes

[2017-10-26 14:58] zzet commented on #12
So... this issue will be resolved very nice with https://bugs.ruby-lang.org/issues/12733 :trollface:

[2017-12-18 12:46] sdarwin opened #114 "always reports "changed""
Running an Ansible playbook multiple times should ideally result in something like:

web1.example.com : ok=55   changed=0    unreachable=0    failed=0

This role is showing

web1.example.com : ok=53   changed=2    unreachable=0    failed=0

More details:

TASK [rbenv : install plugins for selected users] ********************************************************************************************
c

[2018-01-10 06:17] mkllnk opened #116 "Fails on Debian Stretch due to permissions"
I ran version 2.2.6 and 3.3.6 on Debian Jessy without a problem. But on Debian Stretch I get the following error:

[code]

I'm connecting as user `vagrant` to a local virtual machine. The user has full sudo permissions and is supposed to install rbenv for another user. Here is the config from the playbook:

[code]

I'm using Ansible 2.4.2.0l

[2018-01-11 00:46] mkllnk commented on #116
Okay, I'm not 100% sure what the difference between the Jessie and the Stretch image is, but it could be the availability of POSIX.1e filesystem acl support. I found three ways around this:

- Connect as root.
- Put `allow_world_readable_tmpfiles = True` in your `.ansible.cfg` file.
- Install POSIX.1e filesystem acl support (untested).

All this is pretty much mentioned in http://docs.ansible.com/

[2018-06-25 09:37] RossBarnie commented on #87
In a role to install and configure Icinga2, we've made the decision to keep certain variables in a hash and came up agains the same issues regarding variables as hash getting overwritten. We solved this using the `combine` filter and setting the default values under `vars` in the role, see https://github.com/Icinga/ansible-icinga2/commit/0fd8afea4ff807eda5c2d3b51f98eea509150bfa. May or may not be

[2018-08-15 13:09] teadur opened #123 "ruby cleanup fails"
It seems ruby_installed doesnot get populated:

my playbook:

- hosts: rbenv
   gather_facts: true # https://github.com/zzet/ansible-rbenv-role/issues/37
   vars:
     rbenv_clean_up: True
     rbenv:
       env: user
       version: v1.1.0
       default_ruby: 2.3.7
       rubies:
       - version: 2.3.7
       - version: 2.4.4
         env:
           RUBY_CONFIGURE_OPTS: "--enable-shared"

   r

[2018-08-24 12:30] cdmo commented on #12
Using viatcheslavmogilevsky/rbenv-default-gems@438e585 didn't work for me. I had to add a task to install bundler.

https://stackoverflow.com/a/22121802/721065

[code]

[2018-09-05 12:23] jsnshrmn opened #124 "the curl utility itself is a rbenv build dependency, and isn't always there already"

[2018-09-05 12:55] zzet commented on #124
Merged

[2018-09-05 12:55] #124 closed

[2018-10-08 18:46] ahes opened #126 "No idempotency on "install ruby versions for system""
A role does not have `idempotency` which is essential feature of Ansible.
Following task always shows `changed`:

[code]

Role variables:

[code]

[2019-01-03 22:20] s01ipsist opened #129 "Bundler 2.0 compatibility"
Bundler v2.0 has been released. It has a hard dependency on RubyGems >3.0.
http://bundler.io/blog/2019/01/03/announcing-bundler-2.html

This role by default uses this plugin
https://github.com/rbenv/rbenv-default-gems
plus a defaults file
https://github.com/zzet/ansible-rbenv-role/blob/master/files/default-gems
to install the bundler gem.

This installation will fail for any Ruby version that does

[2019-01-04 00:56] s01ipsist commented on #129
No problem @zzet. As much as anything this issue exists to capture the problem and outline various workarounds available to users from our early investigation.
We've taken the 2.6.0 Ruby upgrade path on the immediately affected application but may look at alternatives in coming weeks.

[2019-01-06 20:32] s01ipsist commented on #129
https://bundler.io/blog/2019/01/04/an-update-on-the-bundler-2-release.html

Bunder v2.0.1 relaxed the RubyGems requirements to v2.5.0 so this issue will not affect nearly as many Rubies.

RubyGems 2.5 came out in 2015-11.
https://github.com/rubygems/rubygems/blob/master/History.txt#L987
around the time Ruby 2.3 came out
https://www.ruby-lang.org/en/downloads/releases/

This issue could possibly ju

[2019-01-06 20:34] #129 closed

[2019-03-26 17:25] Matt-Yorkley opened #131 "Build fails on Ubuntu 18 Bionic Beaver"
When I run the playbook on Bionic Beaver installing Ruby 2.1.5 I get a fatal error at the build step. The error output shows this:

[code]

[2019-03-26 18:02] Matt-Yorkley commented on #131
Installing the package `libssl1.0-dev` makes the necessary version of `openssl` available for compiling when Ruby 2.1.5 is built, and fixes the issue. It doesn't override the system's main version of `openssl`.

The suggestion came form here: https://github.com/rbenv/ruby-build/wiki#openssl-usrincludeopensslasn1_mach102-error-error-this-file-is-obsolete-please-update-your-software

We can either a

[2019-04-24 15:21] bew opened #133 "Why some important tasks are marked to ignore_errors ?"
Reading [tasks/user_install.yml](https://github.com/zzet/ansible-rbenv-role/blob/d456082abe016a6cd9a0c12772650eaca54f9e70/tasks/user_install.yml), I see that almost all tasks (13/15) are marked with `ignore_errors: yes`, why is that?

For exemple I wouldn't want a failure to install X ruby version to simply be ignored silently. So what's the reasoning behind this?

Would you accept a PR that remov

[2019-06-11 15:37] ricsdeol opened #137 "error Install with env user at task: initialization to profile system-wide"
Hi, first good job with playbook.
So I'm try use this playbook withe   `env: true` but this errors happened:

[code]

I was in doubt why tasks below it's necessary at user environment:
[code]

I removed this lines at `~/.ansible/roles/zzet.rbenv/tasks/user_install.yml` and works.

Thank You
Bye

[2019-06-18 18:09] chriscz commented on #133
I was just bitten by this. Would you consider changing these lines @zzet ? I've just started using this role, super glad you created it!

[2019-06-18 18:30] zzet commented on #133
Hey folks!

It comes with this commit https://github.com/zzet/ansible-rbenv-role/commit/f56ffff541797cc3feb1f1457841a9009646bc11.

I don't remember exact reason, but I don't see the requirement to ignore errors. Feel you free to send PR with improvement ;)

[2019-08-06 14:26] #133 closed

[2019-09-23 10:46] Aversiste commented on #116
This option works well for my use case on Debian stretch. I modified my playbook to look like this:

[code]

It is probably more sensible than messing with `allow_world_readable_tmpfiles`.

[2019-11-27 14:56] Matt-Yorkley commented on #123
Yeah, this task fails every time if `rbenv_clean_up` is set to `true`.

[2020-05-30 16:07] ohathaway opened #144 "Role works on Ubuntu only"
Please add 'apt' package manager as a dependency to the README. This role doesn't work outside of the Ubuntu family.
`TASK [zzet.rbenv : update apt cache] ************************************************************************************************************************************
fatal: [my-host]: FAILED! => {"msg": "The conditional check 'ansible_pkg_mgr == 'apt'' failed. The error was: er

[2020-07-01 09:30] abarre opened #145 "zzet.rbenv missing on ansible galaxy"
Hello,

I can see that https://galaxy.ansible.com/zzet/rbenv is now a 404 error page.
Did you remove this package from ansible galaxy on purpose ?

Best,

[2020-07-01 09:46] zzet commented on #145
@abarre thank you for touch. No, there is an accident on the galaxy side (I didn't remove anything). I've restored role on galalxy.

[2020-07-01 09:46] #145 closed

[2020-07-06 22:26] asfarley opened #146 "Use a mirror to download/install ruby?"
I'm finding that a particular server I'm maintaining cannot reach cache.ruby-lang.org, but it can reach one of the mirrors located in China:

https://cache.ruby-china.com/pub/ruby/

Is it possible to direct rbenv via this Ansible package to use this mirror?

[2020-09-12 15:45] ramonrails commented on #126
[code]

[2021-05-13 20:25] bschantz opened #147 "The primary branch on rbenv/rbenv-installer repo has been changed to 'main' from 'master'"
The `master` branch on https://github.com/rbenv/rbenv-installer has been renamed to `main`, causing the playbook to fail in the 'install plugins for selected users' task in [`tasks/user_install.yml`](https://github.com/zzet/rbenv/blob/be36c211a6ccaf31f228bdaaac6e658127c4fa6a/tasks/user_install.yml#L30)

I was able to workaround it by providing the value of `rbenv_plugins` as in [`defaults/main.yml

[2021-05-14 08:01] #147 closed

[2021-07-04 07:28] timvoet opened #149 "fail to run through ansible 2.11, python version 3.8.5"
Trying to install 2.5.2 on a ubuntu 20.04 machine.

Had to update one of the plugins to use "main" as the branch name since it was renamed from master.

I have no specified custom default or custom gems file for my build ( still trying to get a basic setup automated )

[code]

Traceback
[code]

[2021-08-31 18:01] arusa commented on #46
I solved it with a line in my playbook tasks:

[code]

You could create a variable to enable zsh support and then loop through all rbenv-users to add a line to .zprofile in their homedir.

It could also work with a global /etc/zsh/zprofile, but I'm not sure where the optimal place would be and I have read about different places like /etc/zprofile.

[2021-11-22 12:09] guxiaobai commented on #146
You can use [rbenv-china-mirror](https://github.com/AndorChen/rbenv-china-mirror)

[code]

[2021-11-29 11:16] neidiom opened #150 "The error was: 'dict object' has no attribute 'drop_ruby'"
I am getting this error. Any ideas why?
[code]

[2022-01-09 19:25] nathan-rollins commented on #150
When you override the rbenv variable object in the following manner, you are replacing the entire rbenv object. So you must include all the object variables, even those that you don't want to change:

[code]

Alternatively, override just the desired setting:

[code]

[2022-07-05 21:49] asfarley opened #152 "Plugins step fails because rbenv-installer removed the master branch"
I've also logged an issue on the rbenv repo since it's unclear who to blame:

https://github.com/rbenv/rbenv-installer/issues/43

My feeling is this would be more easily corrected by the main rbenv repo, but it could be fixed here if they don't want to rename the branch.

[2022-07-06 04:41] zzet commented on #152
Hey @asfarley!

Thank you for the update.

I guess the maintainer of the `rbenv-installer` will not revert back the branch name and changes have to be made in that repository.

Could you prepare a PR?

[2022-07-06 23:17] asfarley commented on #152
My apologies, this has already been fixed and I was just out of date.

[2022-07-06 23:17] #152 closed, assigned to nobody

[2022-09-14 00:30] wintermoot opened #153 ""No package matching 'libjemalloc1' is available""
Hi,

I am new to ansible and trying to automate the config of my ruby on rails dev environment.

following your most basic example in your documentation as a first test but getting an error about missing libjemalloc1 package.

<pre>

webuser@hoth:~/ansible/deb1$ ansible-galaxy list
# /home/webuser/.ansible/roles
- zzet.rbenv, 3.6.0

webuser@hoth:~/ansible/deb1$ cat rbenv.yml
---

- hosts: web_serv